@font-face {
    font-family: Hanken-Book;
    src: url(../fonts/Hanken-Book.ttf);
}

@media only screen and (max-width: 767px) {
  .card-body {
    max-height: 160px;
  }

  .image_h {
    left: 25%;
  }
  #me-div {
      left:18%;
  }
}

@media only screen and (min-width: 768px) {
  .card-body {
    min-height: 130px;
  }
  .image_l {
    left: 15%;
  }
  .image_h {
    left: 31%;
  }

}

@media only screen and (min-width: 991px) {
  .card-body {
    min-height: 230px;
  }
  .image_h {
    left: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .card-body {
    min-height: 182px;
  }
  .image_l {
    left: 15%;
  }
  .image_h {
    left: 25%;
  }
}

body {

}

.card img {
  max-width: 100%;
  /*width:100%;
  max-height: 225px;*/
}

nav {
  /*#2c4a52*/
  background-color: #3f596f;
  font-family: Hanken-Book;
  font-size: large;
}

nav a {
    color: #f4ebdb;
}

.nav-link:hover {
    transition: 0.7s;
    transition-timing-function: ease;
    color: #bec2c1;
}

.active {
  color: #bec2c1;
  border-bottom: solid 3px #bec2c1;
}

#about {
  padding: 40px 0px;
  /*background: #bec2c1;*/
  background: #f7f7f7;
  font-family: Hanken-Book;
}

.gen_p {
  padding-top: 70px;
  /*padding-bottom: 20px;*/
  text-align: center;
  font-weight: 300;
  color: #3f596f;
}

.border1:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 3px;
    width: 90px;
    background: #424242;
}



#me {
  max-height: 400px;
  /*left: 25%;*/
  /*right: 25%;*/
  border-radius: 15px 50px 30px;
  box-shadow: 0px 10px 6px -7px rgba(0,0,0,0.60);
}

#projects {
  /*background: #e5e2ca;*/
  padding-top: 50px;
  background: #f4ebdb;
  font-family: Hanken-Book;
  text-align: justify;
  color: #424242;
}

#projects h2 {
  font-weight: 800;
}

#projects h5 {
  font-weight: bold;
}

#projects a {
  color: #424242;
  text-decoration: none;
}

#projects a:hover {
    transition: 0.1s;
    transition-timing-function: ease;
    color: #f7f7f7;
}

.hover:hover {
  transition: 0.3s;
  transition-timing-function: ease;
  background-color: #3f596f;
}

.border2:after {
    content: "";
    position: absolute;
    left: 12%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 3px;
    width: 40px;
    background-color: #424242;
}

.card-text {
  padding-top: 10px;
}

#footer {
  padding-top: 20px;

  background: #f7f7f7;
  font-family: Hanken-Book;
}

#social {
  font-size: 1.7em;
  color: #252525;
}

#social a {
  color: #252525;
   text-decoration: none;
}

#social a:hover {
  transition: 0.7s;
  transition-timing-function: ease;
  color: #3f596f;
}

.section1 {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #f7f7f7;
  font-family: Hanken-Book;
}

.section2 {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #f4ebdb;
  font-family: Hanken-Book;

}

.carousel {
  padding-top: 30px;
  height: 350px;
}

.image_h {
  max-height: 350px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  /*left: 25%;*/
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  box-shadow: 0px 10px 6px -7px rgba(0,0,0,0.60);
}

.image_l {
  margin-top: 15px;
  max-width: 500px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  /*left: 15%;*/
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  box-shadow: 0px 10px 6px -7px rgba(0,0,0,0.60);
}

.showing {
  opacity: 1;
  z-index: 2;
}


.link a {
  font-weight: 800;

  color: #4c92cd;
}

.link a:hover {
  transition: 0.3s;
  transition-timing-function: ease;
  text-decoration: none;
  color: #424242;
}

.btn_b a {
  color: #424242;

  font-weight: 800;
  background: #f7f7f7;
  box-shadow: 0px 10px 6px -7px rgba(0,0,0,.59);
  margin-top: 40px;
  border-radius: 15px;
  border-color: #f7f7f7;
}

.btn_b a:hover {
    transition: 0.3s;
    transition-timing-function: ease;
    color: #f4ebdb;
    border-color: #3f596f;
    background-color: #3f596f;
    text-decoration: none;
}
